<div class="items-table">
  <p-table [value]="items">
    <ng-template pTemplate="caption">
      <div class="center-caption">
        List of items
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Item name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.itemName }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="button-row">
  <button pButton pRipple
          class="p-button-lg p-button-outlined p-button-success"
          style="margin-left: 1rem;"
          type="button"
          (click)="route('items/new')"
          routerLinkActive="active"
          label="Add item">
  </button>
</div>


