
<p-toast position="top-center"></p-toast>

<section>
    <div class="button-row">
      <button pButton pRipple
              class="p-button-lg p-button-outlined p-button-success"
              style="margin-left: 1rem;"
              type="button"
              (click)="route('/users')"
              routerLinkActive="active"
              label="Users">
      </button>
      <button pButton pRipple
              class="p-button-lg p-button-outlined p-button-danger"
              style="margin-left: 1rem;"
              type="button"
              (click)="route('/items')"
              routerLinkActive="active"
              label="Items">
      </button>
      <button pButton pRipple
              class="p-button-lg p-button-outline p-button-outline-primary"
              style="margin-left: 1rem;"
              type="button"
              (click)="route('/opinions')"
              routerLinkActive="active"
              label="Opinions">
      </button>
    </div>
</section>
<router-outlet></router-outlet>


